@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Victor+Mono:ital,wght@0,100..700;1,100..700&display=swap');

:root{
    --heading-text: "Montserrat", sans-serif;
    --body-text: "Victor Mono", system-ui, sans-serif;
    --spacing: 1rem;

    /* --red:#FF5858;
    --red: #ED433E;
    --orange:#FFAB71;
    --yellow:#FFFF8A;
    --pink: #F6C3CB; */
    --blue:#00274E;
    --background: #F9F4F4;
}

html{scroll-behavior: smooth;}

/* ------------ layout ------------- */

body{
    background-color: var(--background);
    padding-inline: var(--spacing);
    padding-block: 2rem;
}

/* .top-nav, nav ol{
    display: flex;
    flex-direction:row;
    justify-content: start;
    gap: 2rem;
    font-family: var(--body-text);
    font-size: var(--spacing);
    border-bottom: solid;
    border-width: 1.5px;
    padding-block-end: var(--spacing);
    border-color: var(--blue);
} */

.top-nav {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 0.1rem;
    border-bottom: 1.5px solid var(--blue);
    padding-bottom: var(--spacing);
    font-family: var(--body-text);
    color: var(--blue);
}

.left-links {
    display: flex;
    gap: 2rem;
}

.nav-title{
    padding-block: 0.25rem;
}

header ol:last-child{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

header{
    margin-block-end: 12rem;
}

h1{
    font-family: var(--heading-text);
    font-size: 3.1rem;
    font-weight: 700;
    line-height: 3rem;
    padding-block-start: 2rem;
    color: var(--blue);
    text-transform: uppercase;
}

h2{
    font-family: var(--heading-text);
    font-size: 1.8rem;
    color: var(--blue);
    margin-block-end: 3rem;
}

h3{
    font-family: var(--heading-text);
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 2rem;
    padding: 1rem;
    margin-block: 2rem;
    color: white;
    z-index: 2;
    display: inline-block;
    background-color: var(--blue);
}

p, small{
    font-family: var(--body-text);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.9rem;
    padding-block: 1.5rem;
    color: var(--blue);
}

.key{
    
}
blockquote {
    position: relative;
    margin-inline-start: 3rem;
    margin-block: 4rem;
    padding-inline-start: 2.5rem;
    color: var(--black);
    z-index: 1;
    font-family: var(--heading-text);
    font-size: 1rem;
    border-bottom: solid;
    border-width: 0.2rem;
    border-color: var(--blue);
}

blockquote p {
    margin: 0;
    padding: 0;
    padding-block: 2rem;
    font-family: var(--heading-text);
    font-size: 1.8rem;
    line-height: 2.5rem;
}

/* blockquote::before {
    content: "“";
    position: absolute;
    left: 0;
    top: 10%;
    font-family: var(--heading-text);
    font-weight: 800;
    font-size: 4rem;
    line-height: 1;
    color: var(--red);
} */

a {
    color:var(--blue);
}

section{
    margin-block: 6rem;
}

/* .lines{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: var(--spacing);
    margin-block: 2rem;
    border-top: solid;
    border-bottom: solid;
    border-width: 1.5px;
} */

.lines {
    padding: var(--spacing);
    margin-block: 2rem;
    border-top: 1.5px solid var(--blue);
    border-bottom: 1.5px solid var(--blue);
    text-align: center;
}

.multi-temperature{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.lines, .lines p,
.temperature p{
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 2.4rem;
    text-align: center;
}

.ch-no,
.key{
    padding: 1rem;
    border-style: solid;
    border-color: var(--blue);
    border-width: 1.5px;
    font-weight: 600;
    font-size: 2rem;
    display: inline-block;
    margin-bottom: var(--spacing);
}

.temperature{
    font-weight: 600;
    font-size: 2rem;
    display: block;
    margin-bottom: var(--spacing);
    text-align: center;
}

/* ------------ grid ------------- */
.tilted-grid,
.tilted-grid .cell,
.tilted-grid .inner,
.two-cells,
.cell,
.inner-rect,
.diamond,
.diamond.big {
    border-width: 1.5px;
    border-style: solid;
    border-color: var(--blue);
}

.tilted-grid,
.two-cells{
    width: 320px;
    display: grid;
    margin-inline: auto;
    margin-block: 3rem;
}

/* ------------ grid 1 ------------- */
.tilted-grid {
    position: relative;
    aspect-ratio: 3 / 2;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.tilted-grid .cell {
    display: flex;
    align-items: center;
    justify-content: center;
}

.tilted-grid .inner {
    width: 35%;
    aspect-ratio: 1 / 1;
}

.tilted-grid::before {
    content: "";
    position: absolute;
    top: 80%;
    left: -9%;
    width: 125%;
    height: 2px;
    background: var(--blue);
    transform: rotate(-20deg);
    transform-origin: left center;
}

/* ------------ grid 2 ------------- */

.two-cells {
    height: 240px;
    aspect-ratio: 2 / 1;
    grid-template-columns: 1fr 1fr;
}

.cell {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.inner-rect {
  width: 12%;
  aspect-ratio: 1 / 2;
}

.terms{
    font-weight: 700;
    /* display: inline-block; */
}

.terms::before{
    content: "{";
}

.terms::after{
    content: "}";
}

/* ------------ diamond ------------- */
.diamond,
.diamond.big {
    position: absolute;
    width: 100px;
    aspect-ratio: 1 / 1; 
    transform: rotate(45deg);
}

.diamond-diagram,
.diamond-diagram-2 {
    position: relative;
    width: 320px;
    height: 180px;
    margin-inline: auto;
    margin-block: 3rem;
}
/* ------------ diamond 1------------- */
.diamond-left {
    left: 20px;
    top: 40px;
}

.diamond-right {
    left: 110px;
    top: 40px;
    background: var(--background);
    z-index: 12;
}

.diamond span {
    position: absolute;
    inset: 0;
    display: flex;
    align-items: start;
    justify-content: center;
    transform: rotate(-45deg);
    font-family: var(--body-text);
    font-size: 0.9rem;
}

.arrow {
    position: absolute;
    top: 49%;
    left: 200px;
    width: 115px;
    height: 1.5px;
    background: var(--blue);
}

.arrow::after {
    content: "";
    position: absolute;
    right: 0;
    top: 70%;
    width: 8px;
    height: 8px;
    border-top: 1.5px solid var(--blue);
    border-right: 1.5px solid var(--blue);
    transform: translateY(-50%) rotate(45deg);
}

/* ------------ diamond 2------------- */
.diamond.left {
    left: 20px;
    top: 25px;
}

.diamond.right {
    left: 200px;
    top: 25px;
}

.diamond-inner {
    position: absolute;
    width: 55%;
    aspect-ratio: 1 / 1;
    border-inline-start: 1px dashed var(--blue);
    border-block-end: 1px dashed var(--blue);
    right: 0%;
    top: 0%;
}

.label {
    position: absolute;
    font-family: var(--body-text);
    font-size: 0.8rem;
    transform: rotate(-45deg);
}
