@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Victor+Mono:ital,wght@0,100..700;1,100..700&display=swap');

:root {
    --experience-fill-dark: #1f4a99;       /* blue */
    --experience-stroke-dark: #3B82F6;     /* darker blue */
    --experience-fill-light: #FDC9D3;      /* red */
    --experience-stroke-light: #FC506E;    /* lighter red */
}

@media (prefers-color-scheme: light) {
  :root {
    --experience-fill-dark: var(--experience-fill-light);
    --experience-stroke-dark: var(--experience-stroke-light);
  }
}

html {scroll-behavior: smooth;}

/* ------------ layout ------------- */

.layout-home {
    display: flex;
    flex-direction: column;
    padding: var(--spacing);
}

/* ------------ type ------------- */

h1.nav-title {
    margin-block: 10rem;
    font-size: 3rem;
    line-height: 1.2;
    display: flex;
    flex-direction: column;
    /* gap: var(--spacing); */
}


.title-left, 
.title-right {
    display: block;
    text-transform: uppercase;
}

.title-left { text-align: start; }
.title-right { text-align: end; }


h2 {
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 3rem;
    padding-block: 2rem;
    color: var(--white);
    text-transform: uppercase;
}

.experience {
    color: var(--experience-fill-dark);
    -webkit-text-stroke-color: var(--experience-stroke-dark);
}

.color-theory {
    color: var(--dark-red);
    -webkit-text-stroke-color: var(--red);
}

.interaction-of-color {
    color: var(--dark-orange);
    -webkit-text-stroke-color: var(--orange);
}

.gradients {
    color: var(--dark-yellow);
    -webkit-text-stroke-color: var(--yellow);
}

/* ------------ navigation home ------------- */

#nav-home {
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 100%;
}

#nav-links-home {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    flex: 1;
    list-style: none;
}

.article-card {
    display: block;
    padding-inline: 1.5rem;
    padding-block: 3rem;
    border: 1.5px solid var(--white);
    text-decoration: none;
    color: var(--white);
    box-sizing: border-box;
}

.interaction-card {
    border-block-start: 0;
    border-block-end: 0;
}

/* ------------ card hover states ------------- */

#nav-links-home a.perception-card:hover {
    background-color: var(--darker-red);    
}

#nav-links-home a.interaction-card:hover {
    background-color: var(--darker-orange);    
}

#nav-links-home a.transition-card:hover {
    background-color: var(--darker-yellow);   
}

/* ------------ card hover animation ------------- */

#nav-links-home a.interaction-card:hover .square-1 {
    animation: move-square-1-hover 3s ease-in-out forwards;
}

#nav-links-home a.interaction-card:hover .square-2 {
    animation: move-square-2-hover 3s ease-in-out forwards;
}

@keyframes move-square-1-hover {
    from { transform: translate(0, 0); }
    to   { transform: translate(-30px, -30px); }
}

@keyframes move-square-2-hover {
    from { transform: translate(0, 0); }
    to   { transform: translate(30px, 30px); }
}

#nav-links-home a.interaction-card:hover .yellow-circle {
    animation: pulse-fill-hover 4.5s ease-in-out 1 forwards;
}

@keyframes pulse-fill-hover {
    0% { background: radial-gradient(circle, var(--dark-yellow) 15%, transparent 80%); }
    50% { background: radial-gradient(circle, var(--dark-yellow) 25%, transparent 80%); }
    100% { background: radial-gradient(circle, var(--dark-yellow) 35%, transparent 80%); }
}


/* ------------ intro ------------- */

.meta-home {
    display: flex;
    flex-direction: column;
    gap: 0;
}

.meta-home h2 { margin:0; }

.meta-home .terms { padding: 0; }

/* ------------ running text ------------- */

.running-text-container {
    overflow: hidden;
    white-space: nowrap;
    border-block-start: 1.5px solid var(--white);
    border-block-end: 1.5px solid var(--white);
    margin-block-end: 6rem;
}


.running-track {
    display: inline-flex;
    animation: marquee 12s linear infinite;
}

.running-text {
    display: inline-block;
    padding-inline: 0.4rem;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    padding-block: 0.4em;
}

@keyframes marquee {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-50%);
    }
}

/* ------------ colophon ------------- */

.colophon {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-block: 5rem;
}

h2.colophon-title {
    padding-block-end: 0;
    margin-block-end: 0;
    margin-block-start: 2rem;
}

.colophon-left {
        flex: 0 0 300px;
        display: flex;
        flex-direction: column;
        gap: 2rem;
}

/* ------------ image ------------- */

img {
    width: 260px;
    height: auto;
    display: block;
    margin-inline: auto;
    margin-block: 3rem;
}

/* ------------ media queries ------------- */

@media (min-width:500px) {
    h1.nav-title { font-size: 4rem; }
}

@media (min-width:750px) {

    h1.nav-title {
        margin-block: 14rem;
        font-size: 6rem;
        line-height: 1em;
    }

    .article-card {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: var(--spacing);
        padding-block: 2.5rem;
        padding-inline: 3rem;
    }

    .shape {
        flex: 0 0 200px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .square {
        width: 130px;
        height: 130px;
}

    .meta-home {
        flex: 1;
        margin-inline-start: 2rem;
    }

    .colophon {
        flex-direction: row;
        align-items: flex-start;
        gap: 6rem;
        margin-inline: auto;
    }

    .colophon-left {
        gap: 1.5rem;
        align-items: flex-start;
        padding-inline-start: var(--spacing);
    }

    img {
        margin-inline: auto;
        width: 260px;
    }

    .colophon-right { max-inline-size: 90ch; }

    .colophon-right p { margin: 0; }

    .meta-home h2 {
        font-size: 3.2rem;
        line-height: 3.3rem;
    }

    h2.colophon-title {
        margin-block-start: 0;
        padding-block-start: 1.5rem;
    }
}

@media (min-width:950px) {

    h1.nav-title { font-size: 8rem; }

    .meta-home h2 {
        font-size: 4.5rem;
        line-height: 4.6rem;
    }

    .article-card {
        gap: 2rem;
        padding-block: 3rem;
        padding-inline: 3rem;
    }

}

@media (min-width:1130px) {
    .meta-home h2 { 
        font-size: 6rem;
        line-height: 6rem;
    }
}

@media (min-width:1200px) {
    h1.nav-title { font-size: 10rem; }
}

