@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Victor+Mono:ital,wght@0,100..700;1,100..700&display=swap');

html {scroll-behavior: smooth;}

/* ------------ layout ------------- */

.layout-home {
    display: flex;
    flex-direction: column;
    padding: var(--spacing);
}

/* ------------ type ------------- */

h1.nav-title {
    margin-block: 10rem;
    font-size: 3rem;
    text-align: center;
}

h2 {
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 3rem;
    padding-block: 2rem;
    color: var(--white);
    text-transform: uppercase;
}

h2.colophon {
    margin-block-end: 0;
    margin-block-start: 2rem;
}

.experience {
    color: var(--dark-red);
    -webkit-text-stroke-color: var(--red);
}

.color-theory {
    color: var(--dark-red);
    -webkit-text-stroke-color: var(--red);
}

.interaction-of-color {
    color: var(--dark-orange);
    -webkit-text-stroke-color: var(--orange);
}

.gradients {
    color: var(--dark-yellow);
    -webkit-text-stroke-color: var(--yellow);
}

/* ------------ navigation home ------------- */

#nav-home {
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 100%;
}

#nav-links-home {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    flex: 1;
    list-style: none;   
}

.article-card {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding-inline: 1.5rem;
    padding-block: 3rem;
    border: 1.5px solid var(--white);
    text-decoration: none;
    color: var(--white);
    box-sizing: border-box;
}

.interaction-card {
    border-block-start: 0;
    border-block-end: 0;
}

/* ------------ card hover states ------------- */

#nav-links-home a.perception-card:hover {
    background-color: var(--dark-red);    
}

#nav-links-home a.interaction-card:hover {
    background-color: var(--dark-orange);    
}

#nav-links-home a.transition-card:hover {
    background-color: var(--dark-yellow);   
}

/* ------------ intro ------------- */

.meta-home {
    display: flex;
    flex-direction: column;
    gap: 0;
}

.meta-home h2 {
    margin:0;
}

.meta-home .terms {
    padding: 0;
}

/* ------------ running text ------------- */

.running-text-container {
    overflow: hidden;
    white-space: nowrap;
    border-block-start: 1.5px solid var(--white);
    border-block-end: 1.5px solid var(--white);
    margin-block: var(--spacing);
}

.running-track {
    display: inline-flex;
    animation: marquee 10s linear infinite;
}

.running-text {
    display: inline-block;
    padding-inline: 0.4rem;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    padding-block: 0.4em;
}

@keyframes marquee {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-50%);
    }
}


/* ------------ media queries ------------- */

@media (width > 750px) {

    h1.nav-title {
        margin-block: 14rem;
        font-size: 6rem;
        text-align: center;
        line-height: 1em;
    }

    .article-card {
        flex-direction: row;
        align-items: start;
        gap: 2rem;
    }

    .meta-home {
        margin-inline-start: 2rem;
    }
}


