:root {
    --red: #FC506E;
    --dark-red: #6f303A;
   --color: #c5465b;
}

/* ------------ color changes ------------- */

a,
a:hover {
    text-decoration-color: var(--red);
}

.terms,
.ch-no,
a:hover,
blockquote::before {
    color: var(--red);
}

.ch-no {
    border-color: var(--red);
    background-color: var(--dark-red);
}

.title-sig {
    color: var(--dark-red);
    -webkit-text-stroke-color: var(--red);
}

blockquote::before {
    color: var(--dark-red);
    -webkit-text-stroke-color: var(--red);
}

/* ------------ nav links ------------- */

a.nav-link-home,
a.nav-link-interaction,
a.nav-link-transition {
    color: var(--white);
    text-decoration: none;
}

a.nav-link-perception {
    color: var(--red);
}

.nav-link-home:hover { color: var(--green); }
.nav-link-perception:hover { color: var(--red); }
.nav-link-interaction:hover { color: var(--orange); }
.nav-link-transition:hover { color: var(--yellow); }


/* ------------ header ------------- */

.short-header{
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: auto auto;
    grid-template-areas:
    "one one"
    "two three";
    /* gap: 1rem; */
}

.short-header p {
    padding-block: 0.2rem;
}

.subtitle { grid-area: one; }
.author { grid-area: two; }
.date { grid-area: three; }

#invisible { color: #7c7c7c; }