/* ------------ header ------------- */

header ol:last-child{
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: auto auto;
    grid-template-areas:
    "one one"
    "two three";
    /* gap: 1rem; */
}

header ol p{
    padding-block: 0.2rem;
}

.subtitle { grid-area: one; }
.author { grid-area: two; }
.date { grid-area: three; }