:root {
    --red: #FC506E;
    --dark-red: #6f303A;
   --color: #c5465b;
}

.terms,
.ch-no,
a:hover,
blockquote::before {
    color: var(--red);
}

a,
a:hover {
    text-decoration-color: var(--dark-red);
}

.ch-no {
    border-color: var(--red);
    background-color: var(--dark-red);
}

/* ------------ header ------------- */

.short-header{
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: auto auto;
    grid-template-areas:
    "one one"
    "two three";
    /* gap: 1rem; */
}

.short-header p {
    padding-block: 0.2rem;
}

.subtitle { grid-area: one; }
.author { grid-area: two; }
.date { grid-area: three; }


.title-sig {
    color: var(--dark-red);
    -webkit-text-stroke-color: var(--red);
}