:root {
    --yellow: #F9C823;
    --dark-yellow: #6b5b25;
}

/* ------------ color changes ------------- */

a,
a:hover {
    text-decoration-color: var(--yellow);
}

.terms,
.ch-no,
a:hover,
blockquote::before {
    color: var(--yellow);
}

.ch-no {
    border-color: var(--yellow);
    background-color: var(--dark-yellow);
}

.title-sig {
    color: var(--dark-yellow);
    -webkit-text-stroke-color: var(--yellow);
}

.highlight { background-color: var(--dark-yellow); }

/* ------------ nav links ------------- */

a.nav-link-home,
a.nav-link-perception,
a.nav-link-interaction {
    color: var(--white);
    text-decoration: none;
}

a.nav-link-transition {
    color: var(--yellow);
}

.nav-link-home:hover { color: var(--green); }
.nav-link-perception:hover { color: var(--red); }
.nav-link-interaction:hover { color: var(--orange); }
.nav-link-transition:hover { color: var(--yellow); }
