/* :root {
    --orange: #FB8C49;
    --dark-orange: #7d4b2c;
} */

/* ------------ color changes ------------- */

.terms,
.ch-no,
a:hover,
blockquote::before,
a.nav-link-interaction {
    color: var(--orange);
}

.ch-no {
    border-color: var(--orange);
    background-color: var(--dark-orange);
}

.title-sig {
    color: var(--dark-orange);
    -webkit-text-stroke-color: var(--orange);
}

blockquote::before {
    color: var(--dark-orange);
    -webkit-text-stroke-color: var(--orange);
}

/* ------------ nav links ------------- */


a.nav-link-home,
a.nav-link-perception,
a.nav-link-transition {
    color: var(--white);
    text-decoration: none;
}

/* ------------ diagrams ------------- */
/* ------------ multi-temp ------------- */

.multi-temperature {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.temperature,
.multi-temperature p {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 2.4rem;
    display: block;
    text-align: center;
}

/* ------------ grid ------------- */

.tilted-grid,
.tilted-grid .cell,
.tilted-grid .inner,
.two-cells,
.cell,
.inner-rect,
.diamond,
.diamond.big {
    border-width: 1.5px;
    border-style: solid;
    border-color: var(--orange);
}

.tilted-grid,
.two-cells {
    width: 320px;
    display: grid;
    margin-inline: auto;
    margin-block: 3rem;
}

/* ------------ grid 1 ------------- */

.tilted-grid {
    position: relative;
    aspect-ratio: 3 / 2;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.tilted-grid .cell {
    display: flex;
    align-items: center;
    justify-content: center;
}

.tilted-grid .inner {
    width: 35%;
    aspect-ratio: 1 / 1;
}

.tilted-grid::before {
    content: "";
    position: absolute;
    top: 80%;
    left: -9%;
    width: 125%;
    height: 2px;
    background: var(--orange);
    transform: rotate(-20deg);
    transform-origin: left center;
}

/* ------------ grid 2 ------------- */

.two-cells {
    height: 240px;
    aspect-ratio: 2 / 1;
    grid-template-columns: 1fr 1fr;
}

.cell {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.inner-rect {
  width: 12%;
  aspect-ratio: 1 / 2;
}


/* ------------ diamond ------------- */

.diamond,
.diamond.big {
    position: absolute;
    width: 100px;
    aspect-ratio: 1 / 1; 
    transform: rotate(45deg);
}

.diamond-diagram,
.diamond-diagram-2 {
    position: relative;
    width: 320px;
    height: 180px;
    margin-inline: auto;
    margin-block: 3rem;
}

/* ------------ diamond 1------------- */

.diamond-left {
    left: 20px;
    top: 40px;
}

.diamond-right {
    left: 110px;
    top: 40px;
    background: var(--background);
    z-index: 12;
}

.diamond span {
    position: absolute;
    inset: 0;
    display: flex;
    align-items: start;
    justify-content: center;
    transform: rotate(-45deg);
    font-family: var(--body-text);
    font-size: 0.9rem;
}

.arrow {
    position: relative;
    top: 49%;
    left: 200px;
    width: 115px;
    height: 1.5px;
    background: var(--orange);
}

.arrow::after {
    content: "";
    position: absolute;
    right: 0;
    top: 70%;
    width: 8px;
    height: 8px;
    border-top: 1.5px solid var(--orange);
    border-right: 1.5px solid var(--orange);
    transform: translateY(-50%) rotate(45deg);
}

/* ------------ diamond 2------------- */

.diamond.left {
    left: 20px;
    top: 25px;
}

.diamond.right {
    left: 200px;
    top: 25px;
}

.diamond-inner {
    position: absolute;
    width: 55%;
    aspect-ratio: 1 / 1;
    border-inline-start: 1px dashed var(--orange);
    border-block-end: 1px dashed var(--orange);
    right: 0%;
    top: 0%;
}

.label {
    position: absolute;
    font-family: var(--body-text);
    font-size: 0.8rem;
    transform: rotate(-45deg);
    color: var(--orange);
}

#chapter-no {
    padding-block: 0;
}

#interaction-meta {
    display: flex;
    flex-direction: column;
    gap: 0;
}

#interaction-title {
    padding-block-end: 1rem;
}